.rootContainer {
    -fx-background-color: #FFFFFF;
    -fx-padding: 25;
}

.mainWrapper {
    -fx-spacing: 15;
}

.listContainer {
    -fx-background-color: transparent;
    -fx-spacing: 5;
    -fx-padding: 5;
}

.requestCard {
    -fx-background-color: white;
    -fx-border-color: #DCDCDC;
    -fx-border-width: 1;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 10 15;
    -fx-spacing: 5;
}

.infoSection {
    -fx-spacing: 4;
}

.labelRow {
    -fx-spacing: 5;
    -fx-alignment: CENTER_LEFT;
}

.expandedSection {
    -fx-spacing: 4;
    -fx-padding: 0;
}

.actionBarContainer {
    -fx-padding: -25 0 0 0;
}

.actionBar {
    -fx-spacing: 8;
}

.headerText {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.boldLabel {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dataLabel {
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
}

.reasonText {
    -fx-font-size: 15px;
    -fx-text-fill: black;
}

.approveButton {
    -fx-background-color: navy;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-padding: 4 12;
    -fx-cursor: hand;

}

.approveButton:hover {
    -fx-background-color: blue;
}

.denyButton {
    -fx-background-color: white;
    -fx-border-color: navy;
    -fx-border-radius: 5;
    -fx-text-fill: navy;
    -fx-background-radius: 5;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-padding: 4 12;
    -fx-cursor: hand;
}

.denyButton:hover {
    -fx-background-color: #f2f2f2 ;
}

.arrowButton {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.requestsScrollPane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.requestsScrollPane .viewport {
    -fx-background-color: transparent;
}
