.submitOffenseButton {
    -fx-pref-width: 120;
    -fx-pref-height: 80;
    -fx-background-color: #2090ff;
    -fx-spacing: 5;
    -fx-font-size: 18;
    -fx-text-fill: white;
}
.submitOffenseButton:hover {
    -fx-background-color: #0000FF;
}
.closeButton {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: rgba(0,0,0,0);
}
.closeButton:hover{
    -fx-border-color: rgb(255, 0, 0);
}

.cancelButton {
    -fx-pref-width: 120;
    -fx-pref-height: 80;
    -fx-background-color: #ff5e5e;
    -fx-spacing: 5;
    -fx-font-size: 18;
    -fx-text-fill: white;
}
.cancelButton:hover {
    -fx-background-color: #FF0000;
}

.tabButton {
    -fx-pref-height: 40;
    -fx-pref-width: 100;
    -fx-font-size: 15;
    -fx-background-color: transparent;
    -fx-border-color: black;
}
.tabButton:focused{
    -fx-border-color: black black transparent black;
}
.dashboardButtons{
    -fx-cursor: hand;
    -fx-border: none;
    -fx-pref-width: 200;
    -fx-background-color: transparent;
    -fx-padding:10 0 10 40;
    -fx-spacing:15;
    -fx-alignment: center-left;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-max-width: infinity;
}
.dashboardButtons:hover{
    -fx-background-color: rgba(0, 0, 255, 0.22);
}

