.submitButton {
    -fx-pref-width: 120;
    -fx-pref-height: 80;
    -fx-background-color: navy;
    -fx-spacing: 5;
    -fx-font-size: 18;
    -fx-text-fill: white;
}
.submitButton:hover {
    -fx-background-color: #0000FF;
}
.cancelButton {
    -fx-pref-width: 120;
    -fx-pref-height: 80;
    -fx-background-color: #FF4D4D;
    -fx-spacing: 5;
    -fx-font-size: 18;
    -fx-text-fill: white;
}
.cancelButton:hover {
    -fx-background-color: #FF0000;
}
.tabButton {
    -fx-min-height: 40;
    -fx-min-width: 100;
    -fx-font-size: 15;
    -fx-background-color: transparent;
    -fx-border-color: black;
}
.tabButton:focused{
    -fx-text-fill: white;
    -fx-background-color: #0057ff;
    -fx-border-color: black black transparent black;
}
.addButton {
    -fx-min-width: 120;
    -fx-min-height: 30;
    -fx-background-color: navy;
    -fx-text-fill: white;
    -fx-font-size: 15;
}
.addButton:hover {
    -fx-background-color: #0000FF;
}
.dashboardButtons{
    -fx-cursor: hand;
    -fx-border: none;
    -fx-pref-width: 200;
    -fx-background-color: transparent;
    -fx-padding:10 0 10 40;
    -fx-spacing:15;
    -fx-alignment: center-left;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-max-width: infinity;
}
.dashboardButtons:hover{
    -fx-background-color: rgba(0, 0, 255, 0.22);
}
.transparentBackground{
    -fx-background-color: rgba(0,0,0,0);
}
.borderTextField{
    -fx-border-radius: 100;
    -fx-border-color: black;
}
