.pageContainer {
    -fx-background-color: rgba(255, 255, 255);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.2, 0, 4);
    -fx-background-radius: 16;
    -fx-border-radius: 15;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-padding: 10;
    -fx-pref-width: 1400;
    -fx-pref-height: 800;
}


