.dashboard {
    -fx-font-family: "Verdana";
    -fx-background-color: #F8F8F8;
}
.mainBox {
    -fx-pref-width: 1540;
    -fx-pref-height: 1080;
    -fx-alignment: center;
}
.menuBarContainer{
    -fx-pref-width: 380;
    -fx-pref-height: 1080;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.2, 0, 4);
}
.logoBox {
    -fx-padding: 5;
    -fx-pref-height: 125;
    -fx-pref-width: 200;
    -fx-spacing: 5;
}
.logoTextBox {
    -fx-pref-height: 146;
    -fx-pref-width: 261;
    -fx-alignment: center;
}
#rcText{
    -fx-font-size: 35;
    -fx-text-alignment: justify;
}
.buttonContainer {
    -fx-pref-height: 924;
    -fx-pref-width: 380;
    -fx-spacing: 5;
}

#headerBox{
    -fx-background-color: white;
    -fx-pref-width: 1538;
    -fx-pref-height: 174;
    -fx-alignment: center-left;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.2, 0, 4);
}
#headerBox label {
    -fx-pref-height: 120;
    -fx-pref-width: 436;
}
.dashboardContentContainer{
    -fx-alignment: center;
    -fx-pref-height: 961;
    -fx-pref-width: 1620;
}

.dashboardFirstDiv {
    -fx-padding: 10;
    -fx-spacing: 30;
    -fx-alignment: center;
    -fx-pref-height: 200;
    -fx-pref-width: 990;
}
.dashboardMiniContainer {
    -fx-pref-width: 250;
    -fx-pref-height: 130;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.2, 0, 4);
}

.dashboardSecondDiv {
    -fx-alignment: center;
}
.dashboardSecondDiv VBox{
    -fx-pref-height: 350;
    -fx-pref-width: 993;
    -fx-spacing: 10;
}

.dashboardContainer2 {
    -fx-pref-height: 350;
    -fx-pref-width: 900;
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.2, 0, 4);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}
.dashboardContainer2 HBox {
    -fx-alignment: center-left;
    -fx-pref-height: 50;
    -fx-pref-width: 872;
    -fx-spacing: 10;
}
.dashboardContainer3 {
    -fx-pref-height: 400;
    -fx-pref-width: 300;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0.2, 0, 4);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 20;
}

.progress-bar {
    -fx-pref-height: 20;
    -fx-pref-width: 300;
}
.progress-bar > .track {
    -fx-background-color: white;
    -fx-border-color: #1a33ff;
}
.progress-bar > .bar {
    -fx-background-color: #1a33ff;
}
