.welcomeText {
    -fx-font-size: 35;
    -fx-padding: 20;
}
.dashboardTopTextLabel {
    -fx-font-size: 25;
}
.dashboardTopNumberLabel{
    -fx-font-size: 60;
    -fx-text-fill: #0000FF;
}
.dashboardTitleLabel{
    -fx-font-size: 25;
    -fx-font-weight: bold;
}
.dashboardContentLabel {
    -fx-font-size: 20;
}
.monthLabel {
    -fx-font-size: 25;
    -fx-font-weight: bold;
}
.dayLabel {
    -fx-font-size: 16;
}
.dayNumberLabel {
    -fx-spacing: 50;
    -fx-font-size: 100;
    -fx-font-weight: bold;
    -fx-text-fill: #0000FF;
}
.recentNumberLabel {
    -fx-font-size: 18;
    -fx-text-fill: #0000FF;
}

.labelTitle{
    -fx-font-size: 35   ;
    -fx-font-weight: bold;
    -fx-font-family: "Inter";
}
.labelForPages{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-family: "Inter";
    -fx-max-width: 200;
}