.root {
    -fx-font-family: Arial;
}

.saveButtonEditOffense {
    -fx-background-color: #000080;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 10 25;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.saveButtonEditOffense:hover {
    -fx-background-color: blue;
    -fx-text-fill: white;
}

.cancelButtonEditOffense {
    -fx-background-color: white;
    -fx-text-fill: navy;
    -fx-background-radius: 8;
    -fx-padding: 10 25;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-color: navy;
    -fx-border-radius: 8;
}

.cancelButtonEditOffense:hover {
    -fx-background-color: navy;
    -fx-text-fill: white;
}

.editOffenseTextArea {
    -fx-background-color: white;
    -fx-border-color: #DCDDE1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-min-height: 38px;
    -fx-pref-height: 38px;
}

.editOffenseDate {
    -fx-background-color: white;
    -fx-border-color: #DCDDE1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-min-height: 38px;
    -fx-pref-height: 38px;
    -fx-pref-width: 274px;
}

.titleEditOffense {
    -fx-font-size: 19px;
    -fx-font-weight: bold;
}

.editOffenseContainer {
    -fx-padding: 20px;
}

.pane {
    -fx-background-color: navy;
}

.viewStudentGrid {
    -fx-padding: 0 0 0 5px;
}

.editOffenseLabel {
    -fx-font-weight: bold;
}

.editOffenseComboBox {
    -fx-background-color: white;
    -fx-border-color: #DCDDE1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-min-height: 38px;
    -fx-pref-height: 38px;
    -fx-pref-width: 274px;
}

.editOffenseTextArea:hover, .editOffenseComboBox:hover, .editOffenseDate:hover, .editOffenseRemarks:hover {
    -fx-border-color: navy;
}

