.saveButtonEditOffense {
    -fx-font-family: Arial;
    -fx-background-color: navy;
    -fx-text-fill: white;
}

.saveButtonEditOffense:hover {
    -fx-background-color: blue;
    -fx-text-fill: white;
}

.cancelButtonEditOffense {
   -fx-background-color: white;
    -fx-border-color: navy;
    -fx-text-fill: navy;
}

.cancelButtonEditOffense:hover {
    -fx-background-color: navy;
    -fx-text-fill: white;
}

.inputTextFieldEditOffense {
    -fx-background-color: rgba(0, 0, 0,0);
    -fx-border-color: rgba(191, 191, 191, 0.62);
    -fx-cursor: text;
    -fx-font-size: 14;
}