.root {
    -fx-font-family: "Arial";
    -fx-background-color: #f4f4f4;
}

.offenseTabButton, .addButton {
     -fx-background-color: white;
     -fx-border-color: #DCDCDC;
     -fx-border-width: 1 1 0 1;
     -fx-background-radius: 5 5 0 0;
     -fx-border-radius: 5 5 0 0;
     -fx-padding: 10 25;
     -fx-font-weight: bold;
     -fx-font-size: 14px;
     -fx-cursor: hand;
     -fx-translate-y: 1;
}

.offenseTabButton:pressed {
    -fx-background-color: #C8CCFF;
    -fx-translate-y: 2;
}

.offenseTabButton:focused {
    -fx-border-color: navy #DCDCDC #DCDCDC #DCDCDC;
    -fx-border-width: 1 1 0 1;
}

.addButton {
    -fx-background-color: #000080;
    -fx-border-color: #000080;
    -fx-text-fill: white;
}

.addButton:hover {
    -fx-background-color: #0000FF;
    -fx-border-color: #0000FF;
}

.contentCard {
    -fx-background-color: white;
    -fx-border-color: #BFBFBF;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.labelTitle {
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.staticSearchContainer {
    -fx-background-color: white;
    -fx-border-color: #BFBFBF;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.staticSearchContainer:hover, .staticSearchContainer:focused-within {
    -fx-border-color: #BFBFBF;
    -fx-effect: null;
}

.searchIconBtn {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-padding: 5 8 5 8;
}

.searchIconBtn:hover {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 4 0 0 4;
}

.searchTextField {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #767676;
    -fx-padding: 5 10 5 0;
}

.searchTextField:focused {
    -fx-background-color: transparent;
    -fx-border-color: navy;
}

.custom-table {
    -fx-background-color: white;
    -fx-border-color: #BFBFBF;
    -fx-border-width: 1 0 0 0;
}

.custom-table .column-header-background {
    -fx-background-color: #E5E5E5;
    -fx-background-insets: 0;
}

.custom-table .column-header-background .filler {
    -fx-background-color: #E5E5E5;
    -fx-border-color: #BFBFBF;
    -fx-border-width: 0 0 1 0;
}

.custom-table .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #BFBFBF;
    -fx-border-width: 0 1 1 0;
    -fx-padding: 10;
}

.custom-table .column-header:last-visible {
    -fx-border-width: 0 0 1 0;
}

.custom-table .column-header .label {
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.custom-table .table-cell {
    -fx-alignment: CENTER;
    -fx-padding: 12;
    -fx-border-color: transparent transparent #E5E5E5 transparent;
}

.custom-table .table-row-cell:selected {
    -fx-background-color: #C8CCFF;
    -fx-background-insets: 0;
}

.custom-table .table-row-cell:focused {
    -fx-background-insets: 0;
}

.custom-table .table-row-cell:hover {
    -fx-background-color: #f2f2f2;
}

.custom-table .table-row-cell:pressed {
    -fx-background-color: #C8CCFF;
    -fx-translate-y: 2;
}

.custom-table .table-row-cell:selected .text,
.custom-table .table-row-cell:pressed .text {
    -fx-fill: black !important;
}

.custom-table .table-cell:selected,
.custom-table .table-cell:pressed {
    -fx-text-fill: black !important;
}